<h1>Listing items for: <%= @list.name %></h1>

<table>
  <tr>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @list.items.each do |item| %>
  <tr>
    <td><%= item.text %></td>
    <td><%= link_to 'Edit', edit_list_item_path(@list, item) %></td>
    <td><%= link_to 'Destroy', list_item_path(@list, item), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_list_item_path(@list) %>
