<!DOCTYPE html>
<html>
<head>
  <title>TheStack</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.6.2.js' %>
  <%= javascript_include_tag 'prototype.js' %>
  <%= javascript_include_tag 'rails.js' %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro:400,400italic,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class='flash error'>
    This is pre-alpha software.  Your data may be visible to the whole world, or deleted at any time.
  </div>
  <% if flash[:notice] -%>
    <div class='flash'>
      <%= flash[:notice] %>
    </div>
  <% end -%>

<%= yield %>

</body>
</html>
