<!DOCTYPE html>
<html>
<head>
  <title>TheStack</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.6.2.js' %>
  <%= javascript_include_tag 'prototype.js' %>
  <%= javascript_include_tag 'rails.js' %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <div style='font-size:14pt;
  font-style:italic;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5px;
  width:50%;
  background:#f0f0f0;
  border: 1px solid #b0b0b0;
  padding:5px;
  color:red;'>
    This is pre-alpha software.  Your data may be visible to the whole world, or deleted at any time.
  </div>
  <% if flash[:notice] -%>
    <div id='flash'>
      <%= flash[:notice] %>
    </div>
  <% end -%>

<%= yield %>

</body>
</html>
